.gradle
/local.properties
.DS_Store
build


*.apk

*.dex

*~
bin/
gen/
Thumbs.db
Application/build
.classpath
.project
*.iml

# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
.idea
/Application/Application.iml
